.general-errors {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-content: center;
  align-items: center;
  z-index: 100;
  &__wrapper {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
    padding: 0 1em;
    flex: 1 1 100%;
  }
  &__close {
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -18px;
    transform: scale(1.5);
    color: white;
  }
  &--error {
    background-color: var(--danger-color);
    color: white;
  }
}