.unclaimed-device {
  box-shadow: 0 1px 0px 0 rgba($color: #000000, $alpha: 0.2);
  // background-color: rgba(white, 0.9);
  padding: 1em;
  // margin-left: -2em;
  // margin-right: -2em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

  }
  .label {
    font-weight: bold;
  }

  .actions {
    padding-top: 1em;
    button {
      margin-bottom: 0;
    }
  }
}